$outer-width: 400px;
$folder-height: 40px;
$controls-width: 40px;

$icon-size: 30px;

$outer-margin: 25px;
$inner-padding: 10px;

$main-color: #09d3ac;
$outer-folder-color: #e3e3e3;
$inner-folder-color: #f1f1f1;
$folder-active-icon-color: #c8c8c8;

$text-font: 'Open Sans', sans-serif;