.form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    width: 350px;
    margin: 0 auto;
    padding: 0 5px 0 10px;
    border: 1px solid #4794cc;
    border-radius: 5px;
    transition: width 3s;
}

.input {
    width: 305px;
    box-sizing: border-box;
    border: none;
    border-radius: inherit;
    outline: none;
    font-size: 18px;

    &::placeholder {
        color: #4794cc;
    };
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background: #e3e3e3;
    }
}