@import 'variables.scss';

$form-width: $outer-width - ($outer-margin * 2);
$form-left-padding: 10px;
$form-right-padding: 5px;
$input-width: $form-width - $icon-size - $form-left-padding - $form-right-padding;

.form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: $form-width;
    height: $folder-height;
    margin: 0 auto;
    padding: {
        top: 0;
        right: $form-right-padding;
        bottom: 0;
        left: $form-left-padding;
    };
    border: 1px solid $main-color;
    border-radius: 5px;
    transition: width 3s;
}

.input {
    box-sizing: border-box;
    width: $input-width;
    border: none;
    border-radius: inherit;
    outline: none;
    font-size: 18px;
    font-family: $text-font;

    &::placeholder {
        color: $main-color;
    };
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-size;
    height: $icon-size;
    padding: 0;
    border: none;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;

    &:hover {
        background: $outer-folder-color;
    }
}