@import 'variables.scss';

$form-width: $outer-width - ($outer-margin * 2) - ($inner-padding * 2);
$textarea-width: $form-width - $controls-width;

.conatiner {
    position: relative;
    height: 30px;
    overflow: hidden;
    transition: padding .5s;

    &-open {
        padding-top: 80px;
    }
}

.form {
    position: absolute;
    top: -70px;
    display: flex;
    box-sizing: border-box;
    width: $form-width;
    height: 70px;
    border: 1px solid $main-color;
    border-radius: 5px;
    background: #ffffff;
    transition: top .5s;

    &-active {
        top: 0px;
    }
}

.textarea {
    box-sizing: border-box;
    width: $textarea-width;
    padding: {
        top: 5px;
        right: 0;
        bottom: 5px;
        left: $inner-padding;
    };
    resize: none;
    border: none;
    border-radius: inherit;
    outline: none;
    font-size: 16px;
    font-family: $text-font;

    &::placeholder {
        color: $main-color;
    };
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $controls-width;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-size;
    height: $icon-size;
    padding: 0;
    border: none;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;

    &:first-child {
        margin-top: 5px;
    }

    &:last-child {
        margin-bottom: 5px;
    }

    &:hover {
        background: $outer-folder-color;
    }
}

.form-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-size;
    height: $icon-size;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background: $outer-folder-color;
    }
}