@import 'variables.scss';

$folder-width: $outer-width - ($outer-margin * 2);

.container {
    width: $folder-width;
    margin: {
        top: 0;
        right: 0;
        bottom: 10px;
        left: $outer-margin;
    };
    border-radius: 5px;
    background-color: $inner-folder-color;

    &:last-child {
        margin-bottom: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    height: $folder-height;
    padding: 0 5px;
    border-radius: 5px;
    background-color: $outer-folder-color;
    cursor: pointer;
}

.folder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $icon-size;
    height: $icon-size;
    border-radius: 3px;
}

.active-icon:hover {
    background-color: $folder-active-icon-color;
}

.name {
    box-sizing: border-box;
    width: 280px;
    padding-left: 10px;
    line-height: $folder-height;
    font-size: 18px;
    font-weight: 700;
    font-family: $text-font;
}

.body {
    padding: $inner-padding;
}